blockquote,
div.small-cat .sc-col .sc-container h2.sc-title,
#bd-review-header,
div.bd-review-summary
{
border-color: #0097bd;
}
div#bd-criteria-final-score,
span.bd-criteria-percentage
{
    background: #0097bd;
}
::selection { background: #0097bd; }
::-moz-selection {
 background: #0097bd;
}
a:link, a:visited,
#header-nav ul li ul li a:hover, #header-nav ul li ul li.current-menu-item a{ color: #0097bd; }
a { color: #40454d; }
a:hover,
span.bd-criteria-percentage
{ color: #0097bd; }
nav {
	background: #0097bd url(../images/blue.png) repeat;
	border-top: 1px #eaeaea solid;
	height: auto;
}



.login_form .go button, .go_search button, .form-submit #submit, .search_sub { text-shadow: none; }
.login_form .go button, .go_search button, .pagination .wp-pagenavi a:hover, .pagination .wp-pagenavi .current, .form-submit #submit, .search_sub, .cherry_password_form .password_go {
	background-color: #0097bd !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-image: none;
}
.pagination .wp-pagenavi a:hover, .pagination .wp-pagenavi .current { border: #008db0 1px solid !important; }
.login_form .go button:focus, .login_form .go button:hover, .go_search button:focus, .go_search button:hover, .form-submit #submit:focus, .form-submit #submit:hover, .search_sub:focus, .search_sub:hover, .cherry_password_form .password_go:hover, .cherry_password_form .password_go:focus {
	background-color: #0097bd !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-image: none;
}
.cat_box ul li.first_news h2 a { color: #0097bd; }
.cat_box ul li.first_news h2 a:hover { color: #b2251f; }
.toolbar .search input[type="submit"] { background: url(../images/colors/blue/search-button.png) no-repeat -8px -7px; }
.scrolling_box .nav a.activeSlide, .pp-slider-nav a.activeSlide, .flex-control-nav li a.flex-active { background: url(../images/colors/blue/slider_dots.png) no-repeat -0px -0px; }
.readmore { background: #0097bd; }
.login_user p strong, nav ul.menu > li > ul > li > ul > li:hover > a, nav ul.menu > li > ul > li > a:hover, nav ul.menu > li > ul > li:hover > a, .news_box_title4 { color: #0097bd !important; }
#calendar_wrap #wp-calendar #today, #calendar_wrap #wp-calendar #today { background: #0097bd; }
#calendar_wrap #wp-calendar #today, .calendar_wrap #wp-calendar #today a { color: #FFF; }
.tagcloud a:hover {
	background: #0097bd;
	border-color: #0097bd;
	color: #ffffff !important;
}
.news_box_title2 {
	font-family: 'GnuolaneFree', Arial, Helvetica, sans-serif;
	text-transform: capitalize;
	font-weight: normal;
	font-size: 20px;
}
.news_box_title2 a:link, .news_box_title2 a:visited { color: #444; }
.news_box_title2 a:hover { color: #bc3e00; }
.slider .top_slider .thumb .readmore { color : #FFF !important; }
